NODE_ENV=development

PORT=5000

MONGODB_URI=mongodb+srv://mahmoudwageeh666_db_user:TtjQiPnC7NsP82wo@ecommerce.t0qmjvd.mongodb.net/
JWT_ACCESS_SECRET=24ba1577ccb9c4f444d14f1af2b4e51354383077cda535fbd686dc7399d405a7
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=a985f8d907a8ce31eb02e281f41333c9877fd64eb18b9948cec31cc4f541796c
JWT_REFRESH_EXPIRES_IN=7d

BCRYPT_SALT_ROUNDS=12


CLIENT_URL=http://localhost:3000

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=